---
const { text, href, type = 'primary' } = Astro.props;
---

<style>
   .cta__link {
    background-color: var(--color-primary-fixed);
    color: var(--color-on-primary-fixed);
    font-family: var(--font-label);
    font-weight: 900;
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border: 4px solid var(--color-surface);
    box-shadow: 8px 8px 0px var(--color-secondary);
    transform: rotate(-1deg);
    transition: translate 100ms, box-shadow 100ms;

    &:hover {
      translate: 2px 2px;
      box-shadow: none;
    }

    &--secondary {
      background-color: var(--color-secondary);
      color: var(--color-on-secondary);
      border-color: var(--color-surface-variant);
      box-shadow: 8px 8px 0px var(--color-primary-container);
      padding: 0.5rem 1.5rem;

      &:hover {
        box-shadow: none;
      }
    }
  }
</style>


<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="cta__link"
  class:list={[`cta__link--${type}`]}>
    {text}
</a>
